<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="WindowsService1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="WIN.TECHNICAL.SERVICE_PROCESSOR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<WindowsService1.Properties.Settings>
			<setting name="ENTRY_POINT_ASSEMBLY" serializeAs="String">
				<value/>
			</setting>
			<setting name="TIMER_INTERVAL" serializeAs="String">
				<value>10000</value>
			</setting>
			<setting name="EVENT_LOG_SOURCE" serializeAs="String">
				<value>ImportDataService</value>
			</setting>
			<setting name="EVENT_LOG" serializeAs="String">
				<value>Log</value>
			</setting>
		</WindowsService1.Properties.Settings>
	</applicationSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
		<WIN.TECHNICAL.SERVICE_PROCESSOR.Properties.Settings>
   <setting name="TIMER_INTERVAL" serializeAs="String">
    <value>360000</value>
   </setting>
   <setting name="EVENT_LOG" serializeAs="String">
    <value>ImportExportServiceLogFenealgest</value>
   </setting>
   <setting name="PROCESSOR_ASSEMBLY" serializeAs="String">
    <value>WIN.FENGEST_NAZIONALE.IMPORT_EXPORT.dll,WIN.FENGEST_LOCALE.MAIL_IMPORT.dll</value>
   </setting>
   <setting name="PROCESSOR_CLASS" serializeAs="String">
    <value>WIN.FENGEST_NAZIONALE.IMPORT_EXPORT.ImportExportService,WIN.FENGEST_LOCALE.MAIL_IMPORT.Processor</value>
   </setting>
   <setting name="EVENT_LOG_SOURCE" serializeAs="String">
    <value>FenealgestImportExportDataService</value>
   </setting>
  </WIN.TECHNICAL.SERVICE_PROCESSOR.Properties.Settings>
	</userSettings>
</configuration>
